---
title: Basic Data Types
---

A "literal" value is one that is typed into code.  Think "4.1", a floating point literal value, or "asdf", a literarl string value.  You can learn a lot about data types by typing them into Python to learn how they work.  The ```type()``` function returns the data type of the input object.

Let's use ```type()``` to learn about Python's built in data types.  Two basic numeric types include floats and integers.

In [1]:
type(4.1)

float

In [2]:
type(4)

int

the ```int``` and ```float``` types returned are classes that can be used to cast variables.  For example,

In [3]:
int(4.1)

4

can be used to convert a floating point literal, 4.1, to an integer, 4.  It's returned type is an ```int```

In [4]:
type(int(4.1))

int

conversely, you can convert an int back into a float, using

In [5]:
float(int(4.1))

4.0

and the returned type is

In [6]:
type(float((int(4.1))))

float

You can also define numbers using different notations, inculding hexadecimal,

In [7]:
0xff

255

or binary

In [8]:
0b00111010

58

## Boolean Type
Another data type is the boolean data type or ```bool```.  Boolean variables hold one of two values, either true or false.

In [9]:
True

True

In [10]:
type(True)

bool

In [11]:
False

False

Boolean values are returned when used with operations like equality or inequality tests.

In [12]:
1==2

False

In [13]:
3!=5

True

In [14]:
1>2

False

In [15]:
3<=4

True

## Integer Math

when you operate on two integers, the result is returned as an integer as well.

In [16]:
1

1

In [17]:
1+2

3

In [18]:
2-1

1

In [19]:
a = 1
b = 2

In [20]:
a+b

3

## Float Operations

Because integers exist within the set of all floating point numbers, operating on an int and a float will return a floating point number as well.

In [21]:
import math

In [22]:
1.1

1.1

In [23]:
1.1*2.2

2.4200000000000004

In [24]:
2*1.1

2.2

Some functions can be used to convert a floating point number back to an integer.  The first is obviously the int class itself.

In [25]:
int(4.1)

4

The ```round()``` function always rounds to the nearest integer.  floats with a .5 are rounded up to the largest absolute value integer.

In [26]:
round(1.4)

1

In [27]:
round(1.5)

2

In [28]:
round(-1.4)

-1

In [29]:
round(-1.5)

-2

Other functions include ```trunc()```, which eliminates the mantissa, ```floor()```, which returns the smaller absolute-value integer, and ```ceil()``` which returns the larger absolute-value integer.

In [30]:
math.trunc(1.8)

1

In [31]:
math.floor(1.8)

1

In [32]:
math.trunc(-1.8)

-1

In [33]:
math.floor(-1.8)

-2

In [34]:
math.ceil(1.8)

2

In [35]:
math.ceil(-1.8)

-1

## Conversions

You can also use the data type class itself to convert from one data type to another

In [36]:
int(8.1)

8

In [37]:
float(8)

8.0

In [38]:
int(8)

8

In [39]:
str(9.815)

'9.815'

In [40]:
bool(8.15)

True

In [41]:
float(str(8.15))

8.15

In [42]:
int(str(8))

8

Some conversions cannot be made implicitly:

In [43]:
try:
    int(str(8.15))
except ValueError as e:
    print(e)

invalid literal for int() with base 10: '8.15'